#contact
  background-color primary
  margin auto
  & h1
    margin-bottom 15px

// .card-contact
//   width 46% !important
//   padding 5px
//   display inline-block
//   & p
//     padding 0

// .card-map
//   display inline-block
//   width 46% !important
//   padding 10px


