core-header-panel
  float left
  height 100%

.core-header
  height 60px
  line-height 60px
  padding 0 10px
  background-color canvas
  transition-property height
  transition-duration 0.2s
  transition-timing-function initial
  transition-delay initial

core-header-panel .content
  background-color canvas
  height auto

