#nav
  margin-top 0px !important
  padding 15px
  height 10%
  background-color canvas
  position fixed
  width 100%
  z-index 1000
  & .navigation ul
    list-style none !important
    list-style-type none !important
    width 100%
    float right
    padding 0px
    margin 0 auto
    & li
      float left
      padding 4px 8px
      text-decoration none
      cursor pointer
      color black
      font-size 1.3em
      transiton all 250ms
      &::before
        display none
      &:hover
        shadow(1)
        transform translateY(-2px)

.nav-container
  height 100%
  width 100%

img.logo-img
  cursor pointer
  position relative
