#team
  border-bottom solid 3px white
  background-color accentDark

.card-team
  width 30% !important
  display inline-block
  color white
  & h1
    padding 0
    user-select none
    touch-callout none
